	/*
  	Flaticon icon font: Flaticon
  	Creation date: 16/02/2021 06:37
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff2") format("woff2"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
}

.flaticon-dashboard:before { content: "\f100"; }
.flaticon-list:before { content: "\f101"; }
.flaticon-web-design:before { content: "\f102"; }
.flaticon-data-integration:before { content: "\f103"; }
.flaticon-coding:before { content: "\f104"; }
.flaticon-repair-tool:before { content: "\f105"; }
.flaticon-app:before { content: "\f106"; }
.flaticon-app-1:before { content: "\f107"; }
.flaticon-customer-support:before { content: "\f108"; }
.flaticon-email:before { content: "\f109"; }
.flaticon-contact-us:before { content: "\f10a"; }
.flaticon-mobile-app:before { content: "\f10b"; }
.flaticon-account:before { content: "\f10c"; }
.flaticon-master-plan:before { content: "\f10d"; }
.flaticon-creative-plan:before { content: "\f10e"; }
.flaticon-plan:before { content: "\f10f"; }
.flaticon-strategy:before { content: "\f110"; }
.flaticon-planning:before { content: "\f111"; }
.flaticon-logout:before { content: "\f112"; }
.flaticon-visibility:before { content: "\f113"; }
.flaticon-writing:before { content: "\f114"; }
.flaticon-delete:before { content: "\f115"; }
.flaticon-more:before { content: "\f116"; }
.flaticon-pencil:before { content: "\f117"; }
.flaticon-write:before { content: "\f118"; }
.flaticon-writing-1:before { content: "\f119"; }
.flaticon-information:before { content: "\f11a"; }
.flaticon-down-arrow:before { content: "\f11b"; }
.flaticon-upload:before { content: "\f11c"; }
.flaticon-right:before { content: "\f11d"; }
.flaticon-back:before { content: "\f11e"; }
.flaticon-checklist:before { content: "\f11f"; }
.flaticon-list-1:before { content: "\f120"; }
.flaticon-list-2:before { content: "\f121"; }
.flaticon-order-food:before { content: "\f122"; }
.flaticon-order:before { content: "\f123"; }
.flaticon-register:before { content: "\f124"; }
.flaticon-notes:before { content: "\f125"; }
.flaticon-blogger:before { content: "\f126"; }
.flaticon-design:before { content: "\f127"; }
.flaticon-design-1:before { content: "\f128"; }
.flaticon-web-design-1:before { content: "\f129"; }
.flaticon-customize:before { content: "\f12a"; }
.flaticon-edit:before { content: "\f12b"; }
.flaticon-settings:before { content: "\f12c"; }
.flaticon-setting:before { content: "\f12d"; }
.flaticon-menu:before { content: "\f12e"; }
.flaticon-help:before { content: "\f12f"; }
.flaticon-it:before { content: "\f130"; }
.flaticon-question:before { content: "\f131"; }
.flaticon-question-1:before { content: "\f132"; }
.flaticon-database:before { content: "\f133"; }
.flaticon-folder:before { content: "\f134"; }
.flaticon-cloud-data:before { content: "\f135"; }
.flaticon-data-report:before { content: "\f136"; }
.flaticon-phone-call:before { content: "\f137"; }
.flaticon-telephone:before { content: "\f138"; }
.flaticon-global-services:before { content: "\f139"; }
.flaticon-global-services-1:before { content: "\f13a"; }
.flaticon-global-services-2:before { content: "\f13b"; }
.flaticon-add:before { content: "\f13c"; }
.flaticon-smartphone:before { content: "\f13d"; }
.flaticon-mobile-app-1:before { content: "\f13e"; }
.flaticon-mailing:before { content: "\f13f"; }
.flaticon-email-settings:before { content: "\f140"; }
.flaticon-folder-1:before { content: "\f141"; }
.flaticon-add-1:before { content: "\f142"; }
.flaticon-smartphone-1:before { content: "\f143"; }
.flaticon-mobile-app-2:before { content: "\f144"; }
.flaticon-settings-1:before { content: "\f145"; }
.flaticon-support:before { content: "\f147"; }
.flaticon-settings-2:before { content: "\f148"; }
.flaticon-email-2:before { content: "\f149"; }
.flaticon-mail-settings:before { content: "\f14a"; }
.flaticon-email-3:before { content: "\f14c"; }
.flaticon-application:before { content: "\f14d"; }
.flaticon-checkmark-square-button-outline:before {
  content: "\f101";
}
.flaticon-verify-black-square-interface-button-symbol:before {
  content: "\f102";
}