$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?c0122f7126fe550b6bd6f65ad46b652a") format("truetype"),
url("./flaticon.woff?c0122f7126fe550b6bd6f65ad46b652a") format("woff"),
url("./flaticon.woff2?c0122f7126fe550b6bd6f65ad46b652a") format("woff2"),
url("./flaticon.eot?c0122f7126fe550b6bd6f65ad46b652a#iefix") format("embedded-opentype"),
url("./flaticon.svg?c0122f7126fe550b6bd6f65ad46b652a#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "checkmark-square-button-outline": "\f101",
    "verify-black-square-interface-button-symbol": "\f102",
);

.flaticon-checkmark-square-button-outline:before {
    content: map-get($flaticon-map, "checkmark-square-button-outline");
}
.flaticon-verify-black-square-interface-button-symbol:before {
    content: map-get($flaticon-map, "verify-black-square-interface-button-symbol");
}
